*{	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body{
	background: rgb(174,216,238);
background: radial-gradient(circle, rgba(174,216,238,0.15577889447236182) 33%, rgba(94,151,217,0.24623115577889443) 100%);
}


video{
	height: calc(100vh * 0.5);
}



canvas{
	display: none;
	height: calc(100vh * 0.5)
}




.dropbtn{
	width: 150px;
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.navbar {
  overflow: hidden;
  background-color: #3498DB;
  
  height: 50px;
  width: 100%;
  position: absolute;
  z-index: -1000;
}



.winsize {
	grid-area: winsize;
}
.snapphoto {
	grid-area: snapphoto;
}
.download_snap {
	grid-area: download_snap;
}

.delay_slider {
	grid-area: delay_slider;

}

.Record_stop{
	grid-area: Record_stop;
}

.Record_start{
	grid-area: Record_start;
}

.Start_previev_btn{
	grid-area: Start_previev_btn;
}

.grid{
	display: grid;
	grid-template-columns: 1fr 140px 140px 140px 140px 1fr 140px  1fr 140px;
	grid-template-rows: 50px ;
	grid-template-areas: 
	"Start_previev_btn winsize snapphoto download_snap delay_slider  . Record_start   . Record_stop"



	;
	}





/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:enabled:hover, .dropbtn:enabled:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.center {
margin: auto;
width: 60%;
border: 5px solid #FFFF00;
padding: 10px;
}


#delayslider{
	text-align: center;
	color: white;
	margin-top: 10px;
}




video{
	display: block;
	margin: 0 auto;
	padding: 0;
}

canvas{
	margin: 0 auto;
	padding: 0;
}

#recording_div{
	text-align: center;
}

#recording_div a{
	text-align: center;
		display: block;
	margin: 0 auto;

}